logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
*.pyc
.idea/
.project
*.iml
**/gen/*
**/bin/*
platforms/android/assets/www
platforms/ios/www
platforms/ios/Bitcoin\ Easy\ Check.xcodeproj/xcuserdata
platforms/ios/Bitcoin\ Easy\ Check.xcodeproj/project.xcworkspace
platforms/ios/Bitcoin\ Easy\ Check.xcodeproj/project.pbxproj
console.log
chrome/app.zip
chrome/www/*
