<div class="jumbotron">
    <!--
    $scope.symbol = 'mtgoxUSD';
    $scope.latest_trade = 0; // unix time of latest trade
    $scope.low = 0; // lowest trade during day
    $scope.high = 0; // highest trade during day
    $scope.volume = 0; // total trade volume of day in BTC
    $scope.currency_volume = 0; // total trade volume of day in currency
    $scope.close = 0; // latest trade
    $scope.previous_close = 0; // latest trade of previous day
    -->
    <!--<h3 class="text-muted">{{symbol}}</h3>-->
    <h3 class="text-muted">{{latest_trade | date: 'medium'}}</h3>

    <div class="row-fluid">
        <div class="span4">
            <div class="lead highPrice">
                high: <span class="priceUp">{{high | currency: currencySymbol(currency)}}</span>
            </div>
            <div class="lead lowPrice">
                low: <span class="priceDown">{{low | currency: currencySymbol(currency)}}</span>
            </div>
        </div>
        <div class="span4">
            <h1><span class="{{closePriceClass}}">{{close | currency: currencySymbol(currency)}}</span></h1>
        </div>
        <div class="span4">
            <div class="lead">
                <div>24h avg:</div>
				<div class="text-muted">{{avg24h | currency: currencySymbol(currency)}}</div>
            </div>
        </div>
    </div>

    <h3 class="text-muted">{{symbol}}</h3>
    <div class="small"><i class="fa fa-bitcoin"></i> volume: <span class="text-muted">{{volume | number}}</span></div>
    <!--<a class="btn btn-large btn-success" href="http://www.mtgox.com/">{{symbol}}</a>-->
</div>
