<div class="container-fluid">
  <h3 class="muted">Markets</h3>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Symbol</th>
		<th>Latest Trade</th>
        <th class="currency">Average</th>
        <th class="currency">High</th>
        <th class="currency">Low</th>
        <th class="currency">Close</th>
		<th><i class="fa fa-bitcoin"></i> Volume</th>
      </tr>
      <tr ng-repeat="market in markets">
        <td>{{market.symbol}}</td>
		<td>{{market.latest_trade | date: 'medium'}}</td>
        <td class="currency">{{market.avg | currency: currencySymbol(market.currency)}}</td>
        <td class="currency">{{market.high | currency: currencySymbol(market.currency)}}</td>
        <td class="currency">{{market.low | currency: currencySymbol(market.currency)}}</td>
        <td class="currency">{{market.close | currency: currencySymbol(market.currency)}}</td>
        <td>{{market.volume | number}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46128370-1', 'd2whqoo26gzkh3.cloudfront.net');
  ga('send', 'pageview');
</script>
