<div class="container-fluid">
  <h3 class="muted">Markets</h3>

  <table class="result-table">
    <tbody>
      <tr>
        <th>Symbol</th>
		<th>Latest Trade</th>
        <th>Average</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
      </tr>
      <tr ng-repeat="market in markets">
        <td>{{market.symbol}}</td>
		<td>{{market.latest_trade | date: 'medium'}}</td>
        <td>{{market.avg | currency: currencySymbol(market.currency)}}</td>
        <td>{{market.high | currency: currencySymbol(market.currency)}}</td>
        <td>{{market.low | currency: currencySymbol(market.currency)}}</td>
        <td>{{market.close | currency: currencySymbol(market.currency)}}</td>
      </tr>
    </tbody>
  </table>
</div>
