<!--<div class="row-fluid" style="margin-left:auto; margin-right:auto">-->
<div class="container-fluid">
    <h3 class="muted left">Weighted Average Prices</h3>
	<h3 class="muted right">{{timestamp | date: 'medium'}}</h3>

    <table class="table table-bordered">
        <tr>
            <th>Market</th>
            <th class="currency">24 hours</th>
            <th class="currency">7 days</th>
            <th class="currency">30 days</th>
        </tr>
        <tr ng-repeat="(key, value) in weightedPrices">
            <td>{{key}}</td>
            <td class="currency">{{value.24h | currency: currencySymbol(key)}}</td>
            <td class="currency">{{value.7d | currency: currencySymbol(key)}}</td>
            <td class="currency">{{value.30d | currency: currencySymbol(key)}}</td>
        </tr>
    </table>
    <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
</div>

<script type="text/javascript">
		trackPage('weighted'); // track in google analytics
</script>
